.chat {
  border-radius: 20px;
  width: 100%;
  padding: 25px 16px 0;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.chat__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 401px;
  height: 100%;
  gap: 25px;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  word-wrap: break-word;
}

.chat__back {
  position: absolute;
  top: -101px;
  left: 19px;
  cursor: pointer;
}

