.company {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 658px;
  background-color: #333333;
  color: #ffffff;
  position: relative;
}

.company__subtitle {
  position: absolute;
  top: 52%;
  max-width: 413px;
  text-align: left;
}

@media screen and (max-width: 1100px) {
  .company {
    max-width: 100%;
  }
  
  .company__subtitle {
    top: calc(300px - 80px);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
  }

  .company__img {
    position: absolute;
    top: 150px; /* Поднять изображение выше */
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 940px) {
  .company__img {
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
}
