.company {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 658px;
  background-color: #333333;
  color: #ffffff;
}

@media screen and (max-width: 1100px) {
  .company {
    max-width: 100%;
    position: relative;
  }
}

.company__subtitle {
  width: 418px;
  font-size: 16px;
  font-weight: 400;
  margin: 25px 0 0;
}


@media screen and (max-width: 1100px) {
  .company__subtitle {
    position: absolute;
    top: 150px;
    left: 450px;
  }
}

@media screen and (max-width: 1100px) {
  .company__subtitle {
    position: absolute;
    top: 150px;
    left: 350px;
  }
}

@media screen and (max-width: 1100px) {
  .company__img {
    position: absolute;
    top: 300px;
    left: 500px;
  }
}

@media screen and (max-width: 940px) {
  .company__img {
    position: absolute;
    top: 300px;
    left: 400px;
  }
}