.icons-container-chat {
  padding: 7px 19px;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  gap: 25px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icons-container-chat:hover {
  transform: scale(1.03);
}

.icons-container-chat__name {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  margin: 0;
}

.icons-container-chat__text {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  margin: 0 0 0 auto;
  text-align: left;
}
