.icons-container__name {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  margin: 0;
}

.icons-container__text {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  margin: 0;
  text-align: left;
  margin-left: 19px;
}

.icons-container__text_side-right {
  margin-left: auto;
}
