.main {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
}

.first-section {
  max-width: 658px;
  width: 100%;
  background-color: #333333;
  color: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Отцентрируем по вертикали */
}

.first-section img {
  margin-bottom: 20px;
  /* Добавляем отступ снизу для логотипа */
}

.subtitile {
  width: 413px;
  font-size: 16px;
  font-weight: 400;
}

.second-section {
  width: 100%;
  background-color: white;
  display: flex;
  /* Добавлено для корректного выравнивания элементов */
  flex-direction: column;
  /* Установлено для вертикального выравнивания кнопки */
  justify-content: flex-end;
  /* Перенесли кнопку вправо вниз */
  padding: 0;
  /* Добавлен отступ для кнопки */
  position: relative;
}

.chat-button {
  cursor: pointer;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
