.main {
  position: relative;
  width: 1440px;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
}

.first-section {
  width: 658px;
  background-color: #333333;
  color: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Отцентрируем по вертикали */
}

.first-section img {
  margin-bottom: 20px;
  /* Добавляем отступ снизу для логотипа */
}

.subtitile {
  width: 413px;
  font-size: 16px;
  font-weight: 400;
}

.second-section {
  width: 782px;
  background-color: white;
  display: flex;
  /* Добавлено для корректного выравнивания элементов */
  flex-direction: column;
  /* Установлено для вертикального выравнивания кнопки */
  justify-content: flex-end;
  /* Перенесли кнопку вправо вниз */
  padding: 0;
  /* Добавлен отступ для кнопки */
}

.chat-button {
  width: 62px;
  height: 62px;
  color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  /* Делаем кнопку круглой */
  align-self: flex-end;
  /* Переместим кнопку вправо вниз */
  margin-top: auto;
}