.whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100%;
  position: relative;
}

.whatsapp__back {
  position: absolute;
  top: -101px;
  left: -135px;
  cursor: pointer;
 }

.whatsapp__text {
  color: #000000;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}