.icons-container {
  display: flex;
  gap: 32px;
  justify-content: center;
  padding: 015px 13px;
  height: 88px;
}

.icons-container-whithout-text {
  display: flex;
  align-items: center;
  width: 467px;
  height: 407px;
  background-color: #f2f2f2;
  margin: 10px 0 0 0;
  border-radius: 20px;
}

.icons-container__container {
  width: 313px;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.icons-container-icons {
  position: relative;
  width: 85px;
  height: 62px;
}

.icons-container__sms {
  position: absolute;
  top: 4px;
  left: 4px;
}

.icons-container__mms {
  position: absolute;
  top: 16px;
  right: 4px;
}

.icons-container__with-chats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 0;
  width: 471px;
  height: 100%;
}

.icons-container__history {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  margin: 0;
  text-align: center;
}

.icons-container__text {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  margin: 0;
  text-align: left;
}
