.modal {
  max-width: 493px;
  max-height: 695px;
  width: 100%;
  height: 100%;
  background-color: #f8d845;
  box-shadow: 0 10px 40px 0;
  border-radius: 20px;
  box-sizing: border-box;
  border: 0.5px solid #7d859b66;
  position: absolute;
  right: 29px;
  bottom: 29px;
}

.modal__conteiner-main {
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  height: 572px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
