.icons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E4E5EA;
  border-radius: 50%;
  width: 60px;
  height: 62px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icons__container:hover {
  transform: scale(1.2);
}

.icons__container.first {
  background-color: #F8D845;
}

.icons__text {
  margin: 6px 0 0;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
}