#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.modal {
  max-width: 493px;
  max-height: 584px;
  width: 100%;
  height: 100%;
  background-color: #f8d845;
  box-shadow: 0 10px 40px 0;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
}

.modal__conteiner-frame {
  top: 17px;
  right: 17px;
  box-sizing: border-box;
  width: 456px;
  height: 634px;
}

.modal__conteiner-arrow {
  width: 100%;
}

.modal__arrow {
  position: absolute;
  top: 15px;
  right: 19px;
  cursor: pointer;
}

.modal__container-up {
  display: flex;
  flex-direction: column;
}

.modal__container-name {
  margin: 0 auto;
  width: 100%;
}

.modal__avatar {
  margin: 15px auto 0;
  border-radius: 10px;
  display: block;
}

.modal__container-online {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__circle {
  margin-right: 10px;
}

.modal__name {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #333333;
  margin: 0;
}

.modal__sub-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding-bottom: 15px;
}

.modal__conteiner-main {
  background-color: #ffffff;
  border-radius: 20px;
  height: 584px;
  box-sizing: border-box;

}

.modal__conteiner-icons {
  display: flex;
  gap: 32px;
  justify-content: center;
  padding: 15px 0 0;

}

.modal__conteiner-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.modal__vink-text {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  margin: 0 15px 0 0;
}
